:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* CLASSI COMMON */
.h-low{
  font-size: 16px;
  line-height: 18px;
}

.h-mid{
  font-size: 24px;
  line-height: 30px;
}



/* BUTTON */
.btn-blue {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;

  &:hover {
    background-color: #2d66bc;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
  }

  &:active {
    background-color: darken(#2d66bc, 10%);
  }
}

.btn-yellow {
  background-color: #f1c40f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;


  &:hover {
    background-color: #d4ac0d;
    color: black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(241, 196, 15, 0.5);
  }

  &:active {
    background-color: darken(#d4ac0d, 10%);
  }
}


.btn-size-lg {
  padding: 15px 30px;
  font-size: 1.2rem;
}

.btn-size-sm {
  padding: 5px 10px;
  font-size: 0.8rem;
}



/* scollbar */
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #356ABC #212529;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #212529;
}

*::-webkit-scrollbar-track:hover {
  background-color: #212529;
}

*::-webkit-scrollbar-track:active {
  background-color: #212529;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #356ABC;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2C589C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2C589C;
}
